export(corr_iita, hasse, iita, imp2state, ind_gen, mini_iita,
       ob_counter, orig_iita, pattern, pop_iita, pop_variance, print.iita,
       print.pat, print.popiita, print.summpopiita, print.ztest, simu,
       state2imp, summary.iita, summary.popiita, variance, z_test)

# internal functions; not intended to be visible to users
# export()

import(graphics, stats)
import(relations, sets)

S3method(print, iita)
S3method(print, popiita)
S3method(summary, iita)
S3method(summary, popiita)
S3method(print, pat)
S3method(print, summpopiita)
S3method(print, ztest)
